<div class="back" (click)="navigateBack()">
  <mat-icon>arrow_back</mat-icon>
  Back
</div>
<h2 mat-dialog-title>
  Diploma these details
</h2>

<div class="fieldContainer">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Diploma title (english)</mat-label>
      <input matInput [value]="diplomaWithProject.diploma.titleEn" [readonly]="true">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Diploma title (polish)</mat-label>
      <input matInput [value]="diplomaWithProject.diploma.titlePl" [readonly]="true">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>General description</mat-label>
      <textarea matInput [value]="diplomaWithProject.diploma.description" [readonly]="true"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Project</mat-label>
      <input matInput [value]="diplomaWithProject.project.name" [readonly]="true">
    </mat-form-field>
  </div>
</div>
