:host {
    height: auto;
    display: block;

    div {
        display: flex;
        align-items: center;
    }

    h3 {
        margin: 0px;
    }

    a {
        text-decoration: none;
        color: black;

        mat-icon {
            color: #4050b5;
        }
    }
}