
<div>
  <div class="back" (click)="navigateBack()">
     <mat-icon>arrow_back</mat-icon>
      Project List
  </div>
  <h1>{{data.name}}</h1>
  <p>{{data.description}}</p>
  
  <mat-chip-set
        class="chips"
        cdkDropList 
        cdkDropListOrientation="horizontal">
    <mat-chip
      class="example-box"
      cdkDrag
      *ngFor="let technology of data.technologies">
      {{technology}}
    </mat-chip>
  </mat-chip-set>
  <external-link-details *ngIf="showExternalLinks" [projectId]="data.id"></external-link-details>
</div>
<div  class="table">
  <table class="mat-elevation-z5" mat-table [dataSource]="members" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let member"> 
        <div class="cellWithIcon">
          {{member.name}} 
          <mat-icon *ngIf="isProjectAdmin(member)">manage_accounts</mat-icon>
          <mat-icon *ngIf="isSupervisor(member)">supervisor_account</mat-icon>
        </div>
       </td>
    </ng-container>
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let member"> {{member.email}} </td>
    </ng-container>
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let member"> {{getRole(member.role)}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th class="acceptance-status-header" mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let member">
        <div [class.accepted]="member.accepted" class="ellipse"></div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
  <div class="buttons">
    <button *ngIf="showEditButton" (click)="editProject()" mat-raised-button color="primary" cdkFocusInitial>Edit project</button>
    <button *ngIf="showRemoveButton" (click)="openRemoveProjectDialog()" mat-raised-button color="primary" cdkFocusInitial>Remove project</button>
    <button *ngIf="showAcceptButton" (click)="acceptProject()" mat-raised-button color="primary" cdkFocusInitial>Accept project</button>
    <button *ngIf="showUnacceptButton" (click)="unacceptProject()" mat-raised-button color="primary" cdkFocusInitial>Unaccept project</button>  
  </div>
</div>
