form {
    display: grid;

    mat-form-field {
        width: 100%;
        position: relative;

        span {
            position: absolute;
            right: 0;
            top: 3px;
            font-size: 12px;
            color: gray;
        }
    }

    h1 {
        margin-bottom: 30px;
    }

    div {
        display: flex;
        align-items: center;

        a {
            margin-top: -20px;
            margin-left: 10px;
        }
    }

    .submit-button-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;
    }

    .hidden {
        opacity: 0;
    }
}

