<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input  [rangePicker]="picker">
        <input matStartDate formControlName="startDate" placeholder="Start date">
        <input matEndDate formControlName="endDate" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Time period in minutes</mat-label>
        <input type="number" matInput formControlName="slotDuration">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Start (hh:mm)</mat-label>
        <input matInput formControlName="startTime">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>End (hh:mm)</mat-label>
        <input matInput formControlName="endTime">
    </mat-form-field>
    <br>
    <div class="buttons-container">
        <button color="primary"  type="submit" mat-raised-button  [disabled]="!form.valid" cdkFocusInitial>Submit</button>
    </div>
</form>