<h1 mat-dialog-title>Remove project</h1>
<div mat-dialog-content>
  <p>Are you sure you want to remove the project: <span>{{data.projectName}}</span>?</p>
  <mat-form-field>
    <mat-label>Fill the input with the project name</mat-label>
    <input [(ngModel)]="projectName" matInput>
  </mat-form-field>
</div>
<div class="actions" mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button 
    [disabled]="projectName !== data.projectName" 
    color="primary" mat-raised-button 
    [mat-dialog-close]="true" 
    cdkFocusInitial>Remove
  </button>
</div>