
<table class="grade-table">
    <thead>
        <tr>
            <th class="criterion-title-column"></th>
            <th class="points-and-criterion-columns">
                <div class="points">
                    <span class="centered-cell">0p</span>
                    <span class="centered-cell">1p</span>
                    <span class="centered-cell">3p</span>
                    <span class="centered-cell">4p</span>
                </div>
                <div class="criterion-header-and-expand-button">
                    <p>Selected criterion / Details</p>
                    <button color="primary" mat-button (click)="expanded = !expanded">
                        {{ expanded ? 'Hide all' : 'Expand all'}}
                    </button>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let section of data.sections;">
            <tr class="section-name-row">
                <td><h2>{{ section.name }}</h2></td>
                <td></td>
            </tr>
            <ng-container *ngFor="let criteriaGroup of section.criteriaGroups;">
                <tr>
                    <td class="criteria-group-name">
                        <h3>
                            {{ criteriaGroup.name }}
                            <p>Modification date: {{ criteriaGroup.modificationDate }}</p>
                        </h3>
                       
                    </td>
                    <td class="radio-buttons-and-criteria-description"> 
                        <radio-criterion-select 
                            [expanded]="expanded"
                            [editable]="data.editable"
                            [criteriaGroup]="criteriaGroup"
                            (selectCriterionEvent)="selectCriterion(criteriaGroup.id, $event)"
                        >
                        </radio-criterion-select>
                    </td>
                </tr>            
            </ng-container>
        </ng-container>
    </tbody>
</table>
