<h2>Import</h2>
<div class="file-inputs">
  <input type="file" class="file-input" (change)="uploadStudents($event)" #studentsFileUpload>
  <div class="file-upload">
    <button
      mat-mini-fab
      color="primary"
      class="upload-btn"
      (click)="studentsFileUpload.click()"
      test="students-attach-button-data-feed"
    >
      <mat-icon>attach_file</mat-icon>
    </button>
    {{studentsFileName || "Students"}}
  </div>
  
  <input type="file" class="file-input" (change)="uploadSupervisors($event)" #supervisorsFileUpload>
  <div class="file-upload">
    <button 
      mat-mini-fab
      color="primary"
      class="upload-btn"
      (click)="supervisorsFileUpload.click()"
      test="supervisors-attach-button-data-feed"
    >
      <mat-icon>attach_file</mat-icon>
    </button>
    {{supervisorsFileName || "Supervisors"}}
  </div>  

  <input type="file" class="file-input" (change)="uploadCriteria($event)" #criteriaFileUpload>
  <div class="file-upload">
    <button
      mat-mini-fab
      color="primary"
      class="upload-btn"
      (click)="criteriaFileUpload.click()"
      test="criteria-attach-button-data-feed"
    >
      <mat-icon>attach_file</mat-icon>
    </button>
    {{criteriaFileName || "Criteria"}}
  </div>  
  <button (click)=uploadFiles() mat-raised-button color="primary" test="submit-button-data-feed">Submit</button>
</div>

<h2>Export</h2>
<div class="file-inputs">
  <button (click)=exportStudents() mat-raised-button color="primary">Students</button>
  <button (click)=exportCriteria() mat-raised-button color="primary">Criteria</button>
  <button (click)=exportGrades() mat-raised-button color="primary">Grades</button>
</div>

   
