.root {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

mat-button-toggle-group {
    height: 35px;

    mat-button-toggle {
        font-size: 14px;
        line-height: 35px !important;
    
    
        span {
            line-height: 35px !important;
        } 
    }
}

.user-panel {
    justify-content: space-between;
    align-items: center;
    display: flex;
    column-gap: 20px;
}



.user-icon {
    display: grid;
    mat-icon {
        margin: 0 auto;
    }
    p {
        color: #eeeeee;
        margin: 3px 0px 0px 0px;
    }
}

mat-sidenav-content {
   width: auto;
   display: block;

    .content-container {
        margin: 0 auto;
        width: auto;
        max-width: 1300px;
        padding: 50px;
        box-sizing: border-box;
        display: flex;
    }

    .modal-content-container {
        margin: 0 auto;
        width: auto;
        padding: 40px;
        display: flex;
    }

    .modal-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.not-displayed {
    display: none !important;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
    background: #4050b5;
    color: #f5f5f5;
    align-items: center;

    .user-data {
        display: grid;
        font-size: 12px;
        line-height: 18px;
        text-align: right;
        p {
            margin: 0px;
        }
    }
    
    

    div {
        display: flex;

        .app-name {
            margin: 0px 0px 0px 8px;
            font-weight: bold;
        }     
    }
    
    mat-icon {
        color: white;
    }
}
  

mat-sidenav-container {
    flex: 1;

    mat-sidenav {
        border-right: 1px solid rgba(0,0,0,.12);
        min-width: 235px;
    }
}

.is-mobile  {
    mat-toolbar {
        position: fixed;
        z-index: 2;
    }

    mat-sidenav-container {
        margin-top: 56px;
    }
}

