<div class="root" [class.is-mobile]="mobileQuery?.matches">
  <mat-toolbar color="primary">
    <div>
      <button *ngIf="isLogged" mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h4 class="app-name">{{ appName }}</h4>
    </div>
    <div class="user-panel" *ngIf="isLogged">
      <mat-button-toggle-group *ngIf="hasBothLearningModes" [(ngModel)]="learningMode"  name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="FULLTIME">Full-time</mat-button-toggle>
        <mat-button-toggle value="PARTTIME">Part-time</mat-button-toggle>
      </mat-button-toggle-group>  
      <div class="user-data">
        <p>{{user.name}}</p>
        <p>{{user.indexNumber}} | {{role}}</p>
      </div>
      <button class="user-icon" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()" mat-icon-button>
          <span>Log out</span>
        </button>
      </mat-menu>
    </div>

    
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #snav [mode]="mobileQuery?.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery?.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item (click)="navigateTo('projects')">Project groups</a>
        <a *ngIf="showExternalLinks" mat-list-item (click)="navigateTo('external-links')" >External links</a>
        <a *ngIf="isCoordinator" mat-list-item (click)="navigateTo('data-feed')">Data feed</a>
        <a mat-list-item (click)="navigateTo('grades')">Grades</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content-container">
          <router-outlet></router-outlet>
      </div>
      <div *ngIf="isModalOpen" class="modal-content-container">
        <router-outlet name="modal"></router-outlet>
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>