<div class="back" (click)="navigateBack()">
    <mat-icon>arrow_back</mat-icon>
     Grade List
 </div>
 <br/>
 <h1>{{data.projectName}}</h1>
 <mat-radio-group class="semester-select" [(ngModel)]="selectedSemester" aria-label="Select an option">
    <mat-radio-button value="FIRST">First semester's grades</mat-radio-button>
    <mat-radio-button value="SECOND">Second semester's grades</mat-radio-button>
</mat-radio-group>
 <form [formGroup]="gradeForm" (ngSubmit)="onSubmit()">
    <table class="grade-table">
        <thead>
            <tr>
                <th></th>
                <th class="centered-header">1p</th>
                <th class="centered-header">2p</th>
                <th class="centered-header">3p</th>
                <th class="centered-header">4p</th>
                <th class="centered-header">Expand details</th>
                <th>Selected criterion / Details</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let section of data.sections;">
                <tr>
                    <td><h2>{{ section.name }}</h2></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <ng-container *ngFor="let criteriaGroup of section.criteriaGroups;">
                    <tr>
                        <td class="criteria-group-name"><h3>{{ criteriaGroup.name }}</h3></td>
                        <td *ngFor="let key of criteriaKeys">
                            <mat-radio-group [formControl]="getGradeData(section.id, criteriaGroup.id)">
                                <mat-radio-button [checked]="isRadioButtonChecked(section.id, criteriaGroup.id, key)" [value]="key" />
                            </mat-radio-group>
                        </td>
                        <td class="expand-more-cell">
                            <div>
                                <mat-icon (click)="criterionGroupExpandedStatus[criteriaGroup.id] = !criterionGroupExpandedStatus[criteriaGroup.id]">
                                    {{ criterionGroupExpandedStatus[criteriaGroup.id] ? 'expand_less' :'expand_more' }}
                                </mat-icon>
                            </div>
                        </td>
                        <td class="criterion-details-cell-container">
                            <table *ngIf="criterionGroupExpandedStatus[criteriaGroup.id]">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Description</th>
                                        <th>Disqualifying</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr [ngClass]="{'selected-row': criterion === getSelectedCriterion(section.id, criteriaGroup.id)}" *ngFor="let criterion of criteriaKeys; let i = index;">
                                        <td>{{ criteriaSymbols[i] }}</td>
                                        <td>{{ criteriaGroup.criteria[criterion].description }}</td>
                                        <td>{{ criteriaGroup.criteria[criterion].isDisqualifying ? 'Yes' : 'No' }} </td>
                                    </tr>
                                </tbody>
                            </table>     
                            <span class="selected-criterion" *ngIf="!criterionGroupExpandedStatus[criteriaGroup.id]">{{ 
                                getSelectedCriterion(section.id, criteriaGroup.id) ? criteriaGroup.criteria[getSelectedCriterion(section.id, criteriaGroup.id)].description : 'Not selected' }}</span>
                        </td>
                    </tr>            
                </ng-container>
            </ng-container>
        </tbody>
     </table>
     <div class="buttons-container">
        <h1>Grade: 30%</h1>
        <div>
            <button color="primary" mat-raised-button (click)="expandAllCriteriaDetails()" cdkFocusInitial>
            {{ expanded ? 'Hide all' : 'Expand all' }}
            </button>
            <button color="primary" type="submit" mat-raised-button  cdkFocusInitial>Submit</button>
        </div>
    </div>
 </form>
 