<h1>Project defense schedule</h1>
<defense-date-range-selection *ngIf="showDefenseScheduleConfig"></defense-date-range-selection>
<defense-time-slots-selection [user]="user" *ngIf="showSupervisorAccessibilitySurvey"></defense-time-slots-selection>
<div *ngIf="showCommitteeSelectionSurvey" class="committee-selection-container">
    <div class="tables-container">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
            <mat-tab *ngFor="let assignment of defenseAssignments | keyvalue" [label]="assignment.key">
                <defense-committee-selection 
                    [userRole]="user.role"
                    [chairpersonAssignment]="chairpersonAssignments[assignment.key]"
                    [defenseAssignment]="defenseAssignments[assignment.key]">
                </defense-committee-selection>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<br><br>
<defense-schedule-selection [defenses]="defenses" *ngIf="showDefensesList" [userRole]="user.role"></defense-schedule-selection>


  
