<div class="title-and-buttons">
    <h1>Project defense schedule</h1>
    <div>
        <button *ngIf="showArchiveDefenseScheduleButton" (click)="openAreYouSureDialog('archive')" mat-raised-button color="primary">Archive defense schedule</button>
        <button *ngIf="showRebuildDefenseScheduleButton" (click)="openAreYouSureDialog('rebuild')" mat-raised-button color="primary">Rebuild defense schedule</button>
    </div>
</div>

<defense-date-range-selection *ngIf="showDefenseScheduleConfig"></defense-date-range-selection>
<div *ngIf="showCommitteeSelectionSurvey" class="committee-selection-container">
    <div class="tables-container">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
            <mat-tab *ngFor="let assignment of defenseAssignments | keyvalue" [label]="assignment.key">
                <defense-committee-selection 
                    [date]="assignment.key"
                    [chairpersonAssignment]="chairpersonAssignments[assignment.key]"
                    [defenseAssignment]="defenseAssignments[assignment.key]">
                </defense-committee-selection>
            </mat-tab>
        </mat-tab-group>
    </div>
    <defense-schedule-selection [defenses]="defenses" *ngIf="showDefensesList" ></defense-schedule-selection>

</div>

<defense-schedule-selection  [defenses]="defenses" *ngIf="showDefensesList" ></defense-schedule-selection>


<div *ngIf="showSupervisorAccessibilitySurvey" class="supervisor-survey-container">
    <div class="tables-container">
        <defense-time-slots-selection [user]="user"></defense-time-slots-selection>   
    </div>
</div>




  
