
<table *ngIf="statistics[0]">
    <tr>
        <th></th>
        <th *ngFor="let statistic of statistics">{{ statistic.supervisor }}</th>
    </tr>
    <tr class="grey-background">
        <td>Groups</td>
        <th *ngFor="let statistic of statistics">{{ statistic.numberOfGroups }}</th>
    </tr>
    <tr *ngFor="let date of objectKeys(statistics[0].committeesPerDay)">
        <td>{{ date }}</td>
        <td *ngFor="let statistic of statistics">
            <span *ngIf="statistic.committeesPerDay">{{ statistic.committeesPerDay[date] }} </span>
        </td>       
    </tr>
    <tr class="grey-background">
        <td>Sum</td>
        <td *ngFor="let statistic of statistics">{{ statistic.totalNumberOfCommittees }}</td>       
    </tr>
    <tr class="grey-background">
        <td>Load</td>
        <td *ngFor="let statistic of statistics">{{ statistic.load }}</td>       
    </tr>
</table>