


<div #slotMenu *ngIf="slotsSelected" class="slot-menu mat-elevation-z8" [ngStyle]="{top: cursorPositionY, left: cursorPositionX}">
    committee: <mat-form-field class="committee-select">
        <mat-select [(ngModel)]="committeeMultipleSelection" (selectionChange)="multipleCommitteeSelectionChanged($event)">
            <mat-option *ngFor="let committee of ['A','B','C','D']" [value]="committee">{{ committee }}</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <div>
        <button (click)="closeSelectionMenu()" mat-button color="primary" cdkFocusInitial>Close</button>
        <button (click)="unselectSlots()" mat-raised-button color="primary" cdkFocusInitial>Unselect</button>
    </div>
</div>

<div class="selection-table-and-statistics">
    <table class="committee-selection-table"> 
        <tr>
            <th>Time</th>
            <th *ngFor="let supervisor of supervisors">{{ supervisor.initials }}</th>
        </tr>
        <tr *ngFor="let time of times">
            <td>{{ time }}</td>
            <td class="committee-selection"
                [class.not-available]="!selectedSlots[supervisor.id][time].available" 
                [class.chairperson]="isChairperson(selectedSlots[supervisor.id][time])" 
                [class.project-assigned]="isProjectAssigned(time, selectedSlots[supervisor.id][time].committeeIdentifier)" 
                [class.hovered]="hoveredSlots[supervisor.id] && hoveredSlots[supervisor.id][time]" 
                [class.last-selection]="lastSelectedSlots[supervisor.id] && lastSelectedSlots[supervisor.id][time]" 
                (mouseenter)="onMouseEnter(supervisor.id, time)"
                (mousedown)="onMouseDown(supervisor.id, time)"
                (mouseup)="onMouseUp(supervisor.id, time, $event)"
                [class.selected]="(selectedSlots[supervisor.id] && selectedSlots[supervisor.id][time].committeeIdentifier)"
                *ngFor="let supervisor of supervisors"
            >
            <div class="committee-role-info">
                <div *ngIf="isChairperson(selectedSlots[supervisor.id][time])">
                    <b><mat-icon>groups</mat-icon> {{selectedSlots[supervisor.id][time].committeeIdentifier}}</b>
                    <p>{{ chairpersonAssignment[selectedSlots[supervisor.id][time].committeeIdentifier!].classroom }}</p>
                </div>
                <div *ngIf="!isChairperson(selectedSlots[supervisor.id][time])" class="commitee-info">
                    {{ selectedSlots[supervisor.id][time].committeeIdentifier }}
                </div>
            </div>
            <span class="selection-indicator"></span>
            </td>
        </tr>
    </table>
    <div class="statistics-and-config-container">
        <defense-committee-statistics [statistics]="statistics"></defense-committee-statistics>
        <br>
        <h3>Current phase: <b>{{currentPhase}}</b></h3>
        <div *ngIf="user.role === 'COORDINATOR'"  class="buttons-container"> 
            <button (click)="getDefenseSummary()" mat-button color="primary">Export summary</button>
            <button (click)="openRegistration()" mat-button color="primary">Open registration</button>
            <button (click)="closeRegistration()" mat-button color="primary">Close registration</button>
        </div>
        <div class="committee-config-container">
            <ng-container *ngFor="let assignment of chairpersonAssignment | keyvalue">
                <div *ngIf="doesCommitteeExist(assignment.key)">
                    <h3>{{assignment.key}}</h3>
                    <mat-form-field class="chairperson-select">
                        <mat-label>Chairperson</mat-label>
                        <mat-select [(ngModel)]="chairpersonAssignment[assignment.key].chairpersonId" (selectionChange)="committeeChairpersonSelected($event, assignment.key)">
                            <mat-option [value]="null">---</mat-option>
                            <mat-option *ngFor="let supervisor of chairpersonCandidates(assignment.key)" [value]="supervisor.id">{{ supervisor.initials + ' | ' + supervisor.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="classroom-input">
                        <input placeholder="Classroom" [formControl]="classroomFormControls[assignment.key]" matInput type="text" />
                    </mat-form-field>
                </div>
             </ng-container>
            <br>
           
        </div>
    </div>
</div>
<br>
<defense-schedule-selection [defenses]="defenses" userRole="COORDINATOR"></defense-schedule-selection>

