<div class="back" (click)="navigateBack()">
  <mat-icon>arrow_back</mat-icon>
  Project Details
</div>
<h2 mat-dialog-title>
  Diploma these
</h2>
<form [formGroup]="diplomaForm" (ngSubmit)="onSubmit()">
  <div class="fieldContainer">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Diploma title (polish)</mat-label>
        <input matInput formControlName="titlePl">
        <mat-error *ngIf="diplomaForm.controls.titlePl.invalid">{{getErrorMessage('titlePl')}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Diploma title (english)</mat-label>
        <input matInput formControlName="titleEn">
        <mat-error *ngIf="diplomaForm.controls.titleEn.invalid">{{getErrorMessage('titleEn')}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>General description</mat-label>
        <textarea matInput formControlName="diplomaDescription"></textarea>
        <mat-error
          *ngIf="diplomaForm.controls.diplomaDescription.invalid">{{getErrorMessage('diplomaDescription')}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Chapters</mat-label>
        <textarea matInput formControlName="diplomaChapters"></textarea>
        <mat-error
          *ngIf="diplomaForm.controls.diplomaChapters.invalid">{{getErrorMessage('diplomaChapters')}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Student</mat-label>
        <mat-select formControlName="student">
          <mat-option [value]="student.name">
            {{ student.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Project</mat-label>
        <mat-select formControlName="project">
          <mat-option [value]="projectName">
            {{ projectName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="buttons-container">
        <button color="primary" type="submit" mat-raised-button [disabled]="!diplomaForm.valid" cdkFocusInitial>Submit
        </button>
      </div>
    </div>
  </div>
</form>
