:host {
    max-width: calc(100% - 300px);
}

.criteria-met-header, .grade-header {
    ::ng-deep .mat-sort-header-container {
        justify-content: center;
        margin-left: 18px;
    }
}

.grade-cell {
    text-align: center;
}

.ellipse {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ff6a6a;
    margin: 0 auto;
}

.ellipse.accepted {
    background: #92e882;
}


th {
    white-space: nowrap;
}

.link {
    display: flex;
    justify-content: center;
    a {    
        mat-icon {
            color: #4050b5;
        }
    }    
}

.link-header {
    text-align: center;
}



