<div>
    <div class="title-and-add-project-button">
        <h1>{{ pageTitle }}</h1>
        <button *ngIf="showEditOrAddProjectButton" (click)="openProjectForm()" mat-raised-button color="primary">
            {{ projectButtonText }}
        </button>
    </div>
    <div class="project-filters-container">
        <project-filters [showExternalLinkColumns]="showExternalLinkColumns"></project-filters>
    </div>
    <div [class.full-width]="mainTableFullWidth" class="tables">   
        <div class="project-list-container">
            <project-list 
                [assignedProjects]="assignedProjects"
                [acceptedProjects]="acceptedProjects" 
                [externalLinkColumnHeaders]="externalLinkColumnHeaders"
                [page]="page"
                />

        </div>
        <div *ngIf="isProjectGroupsPage" class="supervisor-availability-list-container">
            <supervisor-availability-list/>
            <button [class.hidden]="!isCoordinator" (click)="openSupervisorAvailabilityForm()" mat-raised-button color="primary">
                Edit availability
            </button>
        </div>
    </div>
</div>

