:host {
    display: block;
    width: 100%;
}

.title-and-add-project-button {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;

    h1 {
        margin: 0;
    }
}

.tables {
    gap: 30px;
    display: flex;
 
    .project-list-container {
        flex: 1 1 100%;
        min-width: 0;
        display: inline-block;
    }

    .supervisor-availability-list-container {
        flex: 0 0 17em;
        height: auto;

        button {
            justify-self: end;
            cursor: pointer;
        }
    }
}

mat-spinner {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translateX(-50px);
}


.hidden {
    opacity: 0;
    cursor: default;
}

.tables.whole-width {
    flex-wrap: wrap;

    div {
        flex: 100%;
    }
}


@media (max-width: 1300px) {
    .tables {
        flex-wrap: wrap;

        div {
            flex: 100%;
        }
    }
}
