<div>
    <div class="title-and-add-project-button">
        <h1>{{ pageTitle }}</h1>
        <div>
            <button mat-button [matMenuTriggerFor]="supervisorAvailability">Supervisor availability</button>
            <button *ngIf="showEditOrAddProjectButton"  (click)="openProjectForm()" mat-raised-button color="primary">
                {{ projectButtonText }}
            </button>
            <button *ngIf="showPublishAllButton"  (click)="openAreYouSureDialog('publish')" mat-raised-button color="primary">
                Publish all
            </button>
            <button *ngIf="showActivateSecondSemesterButton"  (click)="openAreYouSureDialog('activateSecondSemester')" mat-raised-button color="primary">
                Activate second semester
            </button>
            <mat-menu xPosition="before" #supervisorAvailability="matMenu">
                <div class="supervisor-availability-menu" >
                    <supervisor-availability-list/>
                    <button [class.hidden]="!isCoordinator" (click)="openSupervisorAvailabilityForm()" mat-raised-button color="primary">
                        Edit availability
                    </button>
                </div>
            </mat-menu>
        </div>
       
    </div>
    <div class="project-filters-container">
        <project-filters [showExternalLinkColumns]="showExternalLinkColumns"></project-filters>
        
    </div>
    <div [class.full-width]="mainTableFullWidth" class="tables">   
        <div class="project-list-container">
            <project-list 
                [assignedProjects]="assignedProjects"
                [acceptedProjects]="acceptedProjects" 
                [externalLinkColumnHeaders]="externalLinkColumnHeaders"
                [page]="page"
                />

        </div>
    </div>
</div>

