

<div [ngClass]="{'mat-elevation-z8': user.role !== 'COORDINATOR', 'normal-border':  user.role === 'COORDINATOR'}">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="checkbox">
      <th mat-header-cell *matHeaderCellDef>Select</th>
      <td mat-cell *matCellDef="let defense">
        <mat-radio-button 
          [value]="false" 
          (change)="defenseSelected(defense.projectDefenseId)"
          *ngIf="defense.isEditable"
        >
        </mat-radio-button>
      </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let defense">{{defense.date}}</td>
    </ng-container>
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
      <td mat-cell *matCellDef="let defense">{{defense.time}}</td>
    </ng-container>
    <ng-container matColumnDef="committeeIdentifier">
      <th class="centered-header" mat-header-cell *matHeaderCellDef mat-sort-header>Identifier</th>
      <td class="centered-cell" mat-cell *matCellDef="let defense">{{defense.committeeIdentifier}}</td>
    </ng-container>
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Project</th>
      <td mat-cell *matCellDef="let defense">
        <mat-select *ngIf="user.role === 'COORDINATOR'" [(ngModel)]="defense.projectId" (selectionChange)="projectChanged($event, defense)">
          <mat-option [value]="null">---</mat-option>
          <mat-option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</mat-option>
        </mat-select>
        <span *ngIf="user.role !== 'COORDINATOR'">{{defense.projectName}}</span>
    </td>
    </ng-container>
    <ng-container matColumnDef="class">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header> Class </th>
      <td mat-cell *matCellDef="let defense">{{ defense.classRoom }}</td>
    </ng-container>
    <ng-container matColumnDef="committee">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Committee</th>
      <td mat-cell *matCellDef="let defense">{{ defense.committee }}</td>
    </ng-container>
    <ng-container matColumnDef="students">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Students</th>
      <td class="students-cell" mat-cell *matCellDef="let defense">{{ defense.students }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr [class.selected]="isDefenseSelected(defense.projectId)" mat-row *matRowDef="let row; columns: columns; let defense"></tr>
  </table>
  
  <mat-paginator [pageSizeOptions]="[50, 100, 200]" showFirstLastButtons aria-label="Select page"></mat-paginator>
</div>
<div class="buttons-container">
  <button *ngIf="user.role === 'COORDINATOR'" (click)="updateDefenses()" mat-raised-button color="primary" cdkFocusInitial>Update</button>

</div>
