<mat-form-field>
  <mat-label>Search</mat-label>
  <input [(ngModel)]="searchValue" matInput (keyup)="onFiltersChange()">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Supervisor</mat-label>
  <mat-select [(ngModel)]="supervisorIndexNumber" (selectionChange)="onFiltersChange()">
    <mat-option *ngIf="supervisorIndexNumber !== undefined" [value]="undefined">---</mat-option>
    <mat-option *ngFor="let supervisor of (supervisors$ | async)" [value]="supervisor.indexNumber">
      {{ supervisor.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<button *ngIf="isAnyFilterActive()" (click)="resetFilters()" mat-button>reset</button>