<div style="overflow-x:auto;" class="mat-elevation-z8">
  <table mat-table [dataSource]="diplomas" matSort>
    <ng-container matColumnDef="titleEn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td class="diplomaNameCell" mat-cell *matCellDef="let diploma">
        <div>
          <span>{{diploma.titleEn}} </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="projectName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Project</th>
      <td class="diplomaNameCell" mat-cell *matCellDef="let diploma">
        <div>
          <span>{{diploma.projectName}} </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="studentName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Student</th>
      <td class="diplomaNameCell" mat-cell *matCellDef="let diploma">
        <div>
          <span>{{diploma.studentName}} </span>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr style="cursor: pointer" (click)="navigateToDetails(diploma)" mat-row
        *matRowDef="let row; columns: columns; let diploma"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[50, 100, 150]" showFirstLastButtons aria-label="Select page">
  </mat-paginator>
</div>
